<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/layui/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-3.6.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/main.js" type="text/javascript" charset="utf-8"></script>
        <script src="../static/js/shoping_car.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/shopcat.css">
	</head>
	
	<div id="login_up" style="background-color: #DDD; display: none;" >
		<input type="" name="" id="" value="" /><br>
		<input type="" name="" id="" value="" /><br>
		<button type="button">123</button>
	</div>
	
	<body>
		
		<div class="mainContent">
			<div class="top">
				<!-- logo -->
				<img class="logoimg" src="../static/images/logo.png" >
				<!-- 标题 -->
				<div class="title">二手交易平台</div>
				<div class="userLogo">
					<img src="../static/images/user1.webp" class="layui-circle">
					<span class="usernameshow">未登录</span>
				</div>
			</div>
			
			<!-- 导航栏 -->
			<ul class="layui-nav nnav">
			  <li class="layui-nav-item"><a href="\main">首页</a></li>
			  <li class="layui-nav-item layui-this">
			    <a href="javascript:;">购物车</a>
			  </li>
			  <li class="search">
				<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="搜索商品" class="layui-input">
				<img class="search_Bt" src="../static/images/search.png" >
			  </li>
			</ul>
			<!-- 分类及大图位置 -->
			
			<div class="frame">
				<div class="top">
					<div class="top_left">
						<input type="checkbox" name="select_all" >
						<input type="button" name="select_all" value="全选" style="border:0">
					</div>
					<div class="top_mid">
						<input type="search" class="box_search" name="search" placeholder="请输入关键字">
						<input class="btn_search" onclick="" type="button" value="查找" />
					</div>
				</div>
				<div class="mid">
			
{#						<div class="list_frame">#}
{#							<input type="checkbox" name="select" class="checkbox" id="checkbox">#}
{#							<img src="caihong.jpg" class="img" id="img">#}
{#							<div class="item_text">#}
{#								<div class="item_text_name" id="name">二手彩虹</div>#}
{#								<div class="item_text_info" id="info">刚买的，女朋友看够了 ，让我给卖了。有意者私聊</div>#}
{#							</div>#}
{#							<div class="price_buss" id="price+i[]">#}
{#								¥999.00#}
{#							</div>#}
{#							<input type="button" name="purchase" value="购买" class="btn_buss">#}
{#						</div>#}

{#						<div class="list_frame">#}
{#							<input type="checkbox" name="select" class="checkbox" id="checkbox">#}
{#							<img src="caihong.jpg" class="img" id="img">#}
{#							<div class="item_text">#}
{#								<div class="item_text_name" id="name">二手彩虹</div>#}
{#								<div class="item_text_info" id="info">刚买的，女朋友看够了 ，让我给卖了。有意者私聊</div>#}
{#							</div>#}
{#							<div class="price_buss" id="price+i[]">#}
{#								¥999.00#}
{#							</div>#}
{#							<input type="button" name="purchase" value="购买" class="btn_buss"/>#}
{#						</div>#}
			
			
			
				</div>
				<div class="bottom">
					<div class="btn_price">
					¥
					<div class="price_all" id="price_all">999.00</div>
					<input type="button" name="purchase_for_all" value="购买" class="btn_all">
					</div>
				</div>
			</div>
			
			
			
			<!-- 底部 -->
			<!-- <hr > -->
			<div class="footer">
				<hr >
				<br>
				<div class="footer_text">
					<ul>
						<li><a href="#">关于我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></li>
						<li><a href="#">关于我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></li>
						<li><a href="#">关于我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></li>
						<li><a href="#">关于我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></li>
						<li><a href="#">关于我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></li>
						<li><a href="#">关于我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></li>
						<li><a href="#">关于我们</a></li>
					</ul>
				</div>
				<br>
			<div class="copyright">
				版权所有：软件工程课程设计第二小组
			</div>
			</div>
	</body>
</html>
